#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav a.active {
  font-weight: bold;
  text-decoration: none;
}

.shop-container {
  display: flex;
}

.cardItem {
  height: 400px;
  width: 300px;
}

.cardItem img {
  height: auto;
  max-height: 100%;
  width: 100%;
}